## Day 46 Lecture 2 Assignment

In this assignment, we will calculate a similarity matrix using responses to a survey about student life at a university. We will perform clustering on this dataset later on.

In [1]:
%matplotlib inline

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.spatial.distance import pdist, squareform

This dataset consists of 35 binary features, each corresponding to a yes/no question that characterizes the student taking the survey.

This dataset contains a large number of features, each corresponding to a survey question. The feature name summarizes the survey question, so we will not list them all out here.

Load the dataset.

In [72]:
# answer goes here
df = pd.read_csv('data/student_life_survey.csv')

For our analysis, we will focus on a specific subset of the survey that is focused on stress. These questions all begin with the string 'Q5'. Filter the columns that meet this criteria (should be 10 in total).

In [48]:
# answer goes here
q5_df = df.filter(like='Q5', axis=1)
q5_df

,Q5-Stressed about Adjustment issues,Q5-Stressed about Academic issues,Q5-Stressed about Financial issues,Q5-Stressed about Family issues,Q5-Stressed about Friendships,Q5-Stressed about Romantic relationships,Q5-Stressed about Health related issues,Q5-Stressed about Career related issues,"Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.",Q5-Stressed about Others
0,0,1,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0
2,0,1,0,0,0,0,0,1,0,0
3,1,1,0,1,1,1,1,0,1,0
4,0,1,1,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...
2953,0,1,1,0,0,1,0,0,0,0
2954,0,1,0,0,0,0,0,0,0,0
2955,0,1,0,0,0,0,0,0,0,0
2956,0,1,0,0,0,0,1,1,0,0
2957,0,1,1,0,0,0,0,1,0,0

We'll assume for the next step that a pair of negative values (i.e. both responses are "no") is as informative as a pair of positive values. Compute the full distance/dissimilarity matrix for the survey data using matching/hamming distance.

The pdist function is a simple way to accomplish this goal, and the squareform function will transform the output of the pdist function into a tabular format that can be convert to a dataframe more easily.

In [47]:
# answer goes here

dist_df = pd.DataFrame(squareform(pdist(q5_df, metric='hamming')))
dist_df

,0,1,2,3,4,5,6,7,8,9,...,2948,2949,2950,2951,2952,2953,2954,2955,2956,2957
0,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
1,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
2,0.1,0.1,0.0,0.7,0.4,0.2,0.1,0.2,0.5,0.3,...,0.2,0.4,0.3,0.4,0.4,0.3,0.1,0.1,0.1,0.1
3,0.6,0.6,0.7,0.0,0.5,0.5,0.8,0.7,0.2,0.6,...,0.7,0.5,0.4,0.5,0.3,0.6,0.6,0.6,0.6,0.8
4,0.3,0.3,0.4,0.5,0.0,0.2,0.3,0.6,0.3,0.3,...,0.2,0.2,0.3,0.4,0.2,0.3,0.3,0.3,0.5,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,0.2,0.2,0.3,0.6,0.3,0.3,0.2,0.5,0.4,0.4,...,0.1,0.1,0.4,0.3,0.5,0.0,0.2,0.2,0.4,0.2
2954,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
2955,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
2956,0.2,0.2,0.1,0.6,0.5,0.3,0.2,0.3,0.6,0.4,...,0.3,0.5,0.4,0.5,0.5,0.4,0.2,0.2,0.0,0.2
2957,0.2,0.2,0.1,0.8,0.3,0.3,0.0,0.3,0.6,0.2,...,0.1,0.3,0.4,0.3,0.5,0.2,0.2,0.2,0.2,0.0

Print the answers to the following three questions:

1. How many pairs of students are there in our dataset? (Remember to ignore a student pairing with themselves, and avoid double-counting - '3-5' is the same as '5-3'.) 
2. Of these pairs, how many gave identical answers? 
3. How many pairs had no answers in common?

Tip: it may help to first convert the NxN similarity matrix into a table with three columns: response_id_1, response_id_2, and the similarity between them. The new table should have NxN rows and 3 columns.

In [24]:
# answer goes here
pd.melt(dist_df)

           index  variable  value
0              0         0    0.0
1              1         0    0.0
2              2         0    0.1
3              3         0    0.6
4              4         0    0.3
...          ...       ...    ...
8749759  8749759      2957    0.2
8749760  8749760      2957    0.2
8749761  8749761      2957    0.2
8749762  8749762      2957    0.2
8749763  8749763      2957    0.0

[8749764 rows x 3 columns]

In [32]:
dist_df = pd.DataFrame(squareform(pdist(q5_df, metric='hamming')))
melt_df = pd.melt(dist_df.reset_index(), id_vars=['index'])
melt_df

         index variable  value
0            0        0    0.0
1            1        0    0.0
2            2        0    0.1
3            3        0    0.6
4            4        0    0.3
...        ...      ...    ...
8749759   2953     2957    0.2
8749760   2954     2957    0.2
8749761   2955     2957    0.2
8749762   2956     2957    0.2
8749763   2957     2957    0.0

[8749764 rows x 3 columns]

In [41]:
# final set f pairs with no duplicates or self-pairs
pairs_df = melt_df.loc[melt_df['index'] < melt_df['variable']]

In [44]:
# 291 pairs exactly a like
pairs_df[pairs_df['value'] ==1]
# ~136K no matches
pairs_df[pairs_df['value'] == 0]

         index variable  value
2958         0        1    0.0
44377        7       15    0.0
65086       10       22    0.0
68034        0       23    0.0
68035        1       23    0.0
...        ...      ...    ...
8749676   2870     2957    0.0
8749692   2886     2957    0.0
8749701   2895     2957    0.0
8749722   2916     2957    0.0
8749726   2920     2957    0.0

[136732 rows x 3 columns]

In [45]:
pairs_df

         index variable  value
2958         0        1    0.0
5916         0        2    0.1
5917         1        2    0.1
8874         0        3    0.6
8875         1        3    0.6
...        ...      ...    ...
8749758   2952     2957    0.5
8749759   2953     2957    0.2
8749760   2954     2957    0.2
8749761   2955     2957    0.2
8749762   2956     2957    0.2

[4373403 rows x 3 columns]

For each student, calculate their average similarity with all other students. Then print the following:

1. On average, which student (i.e. which response_id) had the most similar responses to the survey population as a whole? What was the average similarity for this student, and what were their answers?
2. Repeat part 1, but for the student with the least similar responses to the survey population as a whole.
3. What do we notice about these students? What broader inferences can we make about the student population as a whole?

In [49]:
# answer goes here
dist_df

,0,1,2,3,4,5,6,7,8,9,...,2948,2949,2950,2951,2952,2953,2954,2955,2956,2957
0,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
1,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
2,0.1,0.1,0.0,0.7,0.4,0.2,0.1,0.2,0.5,0.3,...,0.2,0.4,0.3,0.4,0.4,0.3,0.1,0.1,0.1,0.1
3,0.6,0.6,0.7,0.0,0.5,0.5,0.8,0.7,0.2,0.6,...,0.7,0.5,0.4,0.5,0.3,0.6,0.6,0.6,0.6,0.8
4,0.3,0.3,0.4,0.5,0.0,0.2,0.3,0.6,0.3,0.3,...,0.2,0.2,0.3,0.4,0.2,0.3,0.3,0.3,0.5,0.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2953,0.2,0.2,0.3,0.6,0.3,0.3,0.2,0.5,0.4,0.4,...,0.1,0.1,0.4,0.3,0.5,0.0,0.2,0.2,0.4,0.2
2954,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
2955,0.0,0.0,0.1,0.6,0.3,0.1,0.2,0.3,0.4,0.4,...,0.1,0.3,0.2,0.3,0.3,0.2,0.0,0.0,0.2,0.2
2956,0.2,0.2,0.1,0.6,0.5,0.3,0.2,0.3,0.6,0.4,...,0.3,0.5,0.4,0.5,0.5,0.4,0.2,0.2,0.0,0.2
2957,0.2,0.2,0.1,0.8,0.3,0.3,0.0,0.3,0.6,0.2,...,0.1,0.3,0.4,0.3,0.5,0.2,0.2,0.2,0.2,0.0

In [59]:
highest_sim = dist_df.mean().sort_values(ascending=False)

In [68]:
highest_sim_index = highest_sim.index[0]

In [69]:
q5_df.iloc[highest_sim_index]

Q5-Stressed about Adjustment issues                                                    1
Q5-Stressed about Academic issues                                                      1
Q5-Stressed about Financial issues                                                     1
Q5-Stressed about Family issues                                                        1
Q5-Stressed about Friendships                                                          1
Q5-Stressed about Romantic relationships                                               0
Q5-Stressed about  Health related issues                                               1
Q5-Stressed about Career related issues                                                1
Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.    1
Q5-Stressed about Others                                                               1
Name: 2899, dtype: int64

In [70]:
lowest_sim_index = highest_sim.index[-1]
q5_df.iloc[lowest_sim_index]

Q5-Stressed about Adjustment issues                                                    0
Q5-Stressed about Academic issues                                                      1
Q5-Stressed about Financial issues                                                     0
Q5-Stressed about Family issues                                                        0
Q5-Stressed about Friendships                                                          0
Q5-Stressed about Romantic relationships                                               0
Q5-Stressed about  Health related issues                                               0
Q5-Stressed about Career related issues                                                0
Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.    0
Q5-Stressed about Others                                                               0
Name: 0, dtype: int64

In [74]:
df.iloc[highest_sim_index]

Q2-Participated in Societies and Interest Groups                                                                                 1
Q2-Participated in Clubs                                                                                                         1
Q2-Participated in Halls, JCRCs and/or Residential College CSCs                                                                  0
Q2-Participated in University organised events                                                                                   1
Q3-Interested in Arts & Culture                                                                                                  0
Q3-Interested in Science & Technology                                                                                            1
Q3-Interested in Research and independent study                                                                                  0
Q3-Interested in Sports                                                                                                          0
Q3-Interested in Other competitions (eg case, debates)                                                                           0
Q3-Interested in Entrepreneurship                                                                                                0
Q3-Interested in Volunteering                                                                                                    0
Q3-Interested in Others                                                                                                          1
Q4-Passionate about Animal welfare                                                                                               0
Q4-Passionate about Arts/Culture/Heritage                                                                                        0
Q4-Passionate about Children/Youth                                                                                               0
Q4-Passionate about Community building                                                                                           0
Q4-Passionate about Diversity & Inclusion (e.g. special needs, migrant worker, interfaith and intercultural understanding)       0
Q4-Passionate about Environmental sustainability                                                                                 0
Q4-Passionate about Families                                                                                                     0
Q4-Passionate about Health/Well-being (e.g mental health)                                                                        1
Q4-Passionate about Seniors                                                                                                      0
Q4-Passionate about Poverty reduction                                                                                            0
Q4-Passionate about Education                                                                                                    1
Q4-Passionate about None of the above                                                                                            0
Q4-Passionate about Others                                                                                                       0
Q5-Stressed about Adjustment issues                                                                                              1
Q5-Stressed about Academic issues                                                                                                1
Q5-Stressed about Financial issues                                                                                               1
Q5-Stressed about Family issues                                                                                                  1
Q5-Stressed about Friendships                                                                                                    1
Q5-Stressed about Romantic relationships                                                                                         0
Q5-Stressed about  Health related issues                                                                                         1
Q5-Stressed about Career related issues                                                                                          1
Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.                                              1
Q5-Stressed about Others                                                                                                         1
response_id                                                                                                                   2900
Name: 2899, dtype: int64

In [77]:
df.iloc[lowest_sim_index]

Q2-Participated in Societies and Interest Groups                                                                              0
Q2-Participated in Clubs                                                                                                      1
Q2-Participated in Halls, JCRCs and/or Residential College CSCs                                                               0
Q2-Participated in University organised events                                                                                0
Q3-Interested in Arts & Culture                                                                                               0
Q3-Interested in Science & Technology                                                                                         1
Q3-Interested in Research and independent study                                                                               1
Q3-Interested in Sports                                                                                                       0
Q3-Interested in Other competitions (eg case, debates)                                                                        1
Q3-Interested in Entrepreneurship                                                                                             0
Q3-Interested in Volunteering                                                                                                 0
Q3-Interested in Others                                                                                                       0
Q4-Passionate about Animal welfare                                                                                            0
Q4-Passionate about Arts/Culture/Heritage                                                                                     0
Q4-Passionate about Children/Youth                                                                                            0
Q4-Passionate about Community building                                                                                        0
Q4-Passionate about Diversity & Inclusion (e.g. special needs, migrant worker, interfaith and intercultural understanding)    0
Q4-Passionate about Environmental sustainability                                                                              1
Q4-Passionate about Families                                                                                                  0
Q4-Passionate about Health/Well-being (e.g mental health)                                                                     0
Q4-Passionate about Seniors                                                                                                   0
Q4-Passionate about Poverty reduction                                                                                         0
Q4-Passionate about Education                                                                                                 0
Q4-Passionate about None of the above                                                                                         0
Q4-Passionate about Others                                                                                                    0
Q5-Stressed about Adjustment issues                                                                                           0
Q5-Stressed about Academic issues                                                                                             1
Q5-Stressed about Financial issues                                                                                            0
Q5-Stressed about Family issues                                                                                               0
Q5-Stressed about Friendships                                                                                                 0
Q5-Stressed about Romantic relationships                                                                                      0
Q5-Stressed about  Health related issues                                                                                      0
Q5-Stressed about Career related issues                                                                                       0
Q5-Stressed about My involvement in hostel, clubs, societies, interest groups, etc.                                           0
Q5-Stressed about Others                                                                                                      0
response_id                                                                                                                   1
Name: 0, dtype: int64